*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/* Основная структура контента */

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  display: block;
  line-height: 0;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* или другое? */
}

.search-form {
  display: flex;
  gap: 40px;
  flex: 1;
  align-items: flex-start;
}

.content__list-container {
  height: 298px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: left;
}

/* ШРИФТЫ */

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: rgb(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 196px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Стилизуем формы и их состояния */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  font-family: inherit;
  font-size: 18px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  color: #fff;
  padding: 3px;
  outline: none;
  width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* CHECKBOX */

.search-form__label {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 4px;
  /* отдаляю подчеркивание чтобы буквы были точно над */
}

.search-form__checkbox:focus {
  outline: none;
}

/* BUTTONS */

.button {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  align-self: flex-end;
  padding: 6px 73.5px; /* вместо width height */
}

.more-button {
  padding: 6px;
  margin: 0 3px 1px 1px;
  /* вместо width height */
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
} /* на макете только эта кнопка с обводкой */

/* Стилизация карточки*/

.content__card-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #1b1919;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 3px;
}
